---
layout: default
---

<div class="home">

<p>ここは、Martin Fowler's Blikiの日本語翻訳サイトです。Martin Fowler氏本人の許可を得て公開しています。データは<a href="https://github.com/bliki-ja/bliki-ja.github.io">Githubで管理</a>していますので、どなたでも翻訳に参加することが可能です。</p>

<p>※現在、移行中につき、Markdown形式になっていないものが多々あります……。</p>

<img src="/images/bliki_ja_mfsig.gif" />

<h1 id="articles">article</h1>
  <ul>
{% for page in site.pages %}
{% if page.title %}
    {% if page.dir != '/' %}
    <li><a class="page-link" href="{{ page.dir | prepend: site.baseurl }}">{{ page.title }}</a></li>
    {% endif %}
{% endif %}
{% endfor %}
      </ul>


{% for tag in site.tags %}
  <h1 id="tag_{{ tag[0] }}">{{ tag[0] }}</h1>
  <ul>
    {% for post in tag[1] %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}

<!-- post without tag -->
  <h1 id="no-tag">without tags</h1>
  <ul>
    {% for post in site.posts %}
    {% if post.tags.size == 0 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
